<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @recipe.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @recipe.description %></dd>

  <dt><strong>By:</strong></dt>
  <dd><%= @recipe.user.email  %></dd>
</dl>

<%= image_tag @recipe.photo.url(:medium) %>

<h3> Ingredients </h3>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
       <li>
         <%= ingredient.amount %>
         <%= ingredient.unit %>
         <%= ingredient.item %>
         <%= "(#{ingredient.text})" if !ingredient.text.blank? %>
       </li>
    <% end%>
</ul>

<h3> Instructions </h3>
<ul>
  <% @recipe.instructions.each do |instruction| %>
      <li><%= instruction.text %> <%= image_tag instruction.photo.url(:thumb) if instruction.photo %></li>
  <% end%>
</ul>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @recipe.instructions.each do |instruction| %>
        <div class="swiper-slide">
          <%= image_tag instruction.photo.url(:medium) %>
          <%= instruction.text %>
        </div>
    <% end %>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<%= link_to t('.back', :default => t("helpers.links.back")), recipes_path, :class => 'btn btn-default'  %>
