<%- model_class = Recipe -%>
<div class="page-header" style="overflow:hidden;">
  <h1 class="pull-left"><%= @recipe.title %></h1>
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => 'btn btn-primary pull-right' if current_user.owns?(@recipe)  %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @recipe.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @recipe.description %></dd>

  <dt><strong>By:</strong></dt>
  <dd><%= @recipe.user.name  %></dd>
</dl>

<%= image_tag @recipe.photo.url(:medium) %>

<div class="ingredients">
<h3> Ingredients </h3>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
       <li>
         <%= ingredient.amount %>
         <%= ingredient.unit %>
         <%= ingredient.item %>
         <%= "(#{ingredient.text})" if !ingredient.text.blank? %>
       </li>
    <% end%>
</ul>
</div>

<div class="instructions">
<h3> Instructions </h3>
<ol class="instruction-list">
  <% @recipe.instructions.each do |instruction| %>
      <li>
          <div class="instruction-list-content">
             <div class="instruction-image"><%= image_tag instruction.photo.url(:medium) if instruction.photo.exists? %></div>
             <div class="instruction-text"><p><%= instruction.text %></p></div>
          </div>
      </li>
  <% end%>
</ol>
</div>


<%= render 'swiper' %>

<%= link_to t('.back', :default => t("helpers.links.back")), recipes_path, :class => 'btn btn-default'  %>
